<div class="form">
    <form action="/reset" method="POST" class="text-center">
        <h3 class="text-center">Reset Password</h3>
        <input type="email" name="email" id="email" placeholder="email">
        <div class="text-center">
            <button type="submit" class="btn">Reset</button>
        </div>
    </form>
    <div class="text-center" style="font-size: medium;">Have an account?<a href="/login" class="link">Log in!</a></div>
</div>