<h3>There had to be a better way.
So we built it.</h3>
<div class="about">
  <p>
    We believe in the transformative power of knowledge. We believe it, because we’ve experienced and seen it first hand. How those 10,000 hours of expertise can swiftly turn into $10,000. Or even $100,000. And how empires can be built on goat milk, podcasting, and VR roller coasters.
From the Bay area to Brooklyn, Fedora to Teachable, one person to over 150–our story is one of transformation too.
  </p>
</div>