<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {{#if isAuth}}
        <li><a href="/profile" class="nav-link px-2 text-white">Profile</a></li>
        <li><a href="/Create" class="nav-link px-2 text-white">Create</a></li>
        {{else}}
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/About" class="nav-link px-2 text-white">About</a></li>
        {{/if}}
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"
          name="search">
      </form>

      <div class="text-end">
        {{#if isAuth}}
        <form action="/logout" style="display: inline">
          <button type="submit" class="btn btn-outline-light me-2">Logout</button>
        </form>
        {{else}}
        <form action="/login" style="display: inline">
          <button type="submit" class="btn btn-outline-light me-2">Login</button>
        </form>
        <form action="/register" style="display: inline">
          <button href="/register" type="submit" class="btn btn-warning">Sign-up</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</header>